* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

  .App-header {
    background-color: #282c34;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: white;
  }

  .App-logo {
    height: 55vmin;
    pointer-events: none;
  }

  .left-header {
    margin-top: 5%;
    margin-left: 5%;
  }

  .mainHeader {
    font-size: 70px;
  }

  .mainParagraph {
    justify-content: flex-start;
    font-size: 20px;
    width: 100%;
    margin-top: 2.5%;
    font-weight:1%;
    line-height: 160%;
  }
  .body {
    background-color: rgb(232, 194, 125);
    height: 60vh;
  }
  .buttons {
    margin-top: -50px;
    display: flex;
    align-items: row;
    justify-content: center;
    color: white;
  }
  .buttonOne {
    display: inline-block;
    font-size: 25px;
    background-color: rgb(57, 129, 57);
    color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 8px;
    text-decoration:none;
    outline: none;
    padding: 40px;
    margin: 4px 2px;
    font-weight: 600;
    box-shadow: 2px 2px 3px 3px;
  }

  .shadow {
    box-shadow: 5px 5px 10px 2px;
  }
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  